Django>=4.2
djangorestframework>=3.14

trafilatura>=1.6
newspaper3k>=0.2.8

ollama>=0.1.8
langchain-core>=0.2.0
langchain-community>=0.2.0
langchain-text-splitters>=0.2.0
langchain-ollama>=0.1.0

markdown2>=2.4
pydantic>=2.0