.body {
    padding: 25px;
}

.background-bar {
    background-color: rgba(0,0,0,0);
}

#loading {
    display: none;
}

.blackLink {
    color: black;
    text-decoration: none;
}

.blackLink:hover{
    color: black;
    text-decoration: underline;
}

.blackLink:active{
    color: black;
    text-decoration: underline;
}

.projectDiv {
    align-items: center;
    display: flex;
    padding: 10px;
    border-style: solid;
    flex-direction: row;   
    border-width: 0.1px; 
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 6px 4px lightgray;
}

.projectDiv:hover {
    background-color: #AAAAAA;
}

.delete {
    float: right;
    height: 40px;
}

.deleteDiv {
    margin-left: auto;
}

.projects{
    margin-top: 30px;
    justify-content: center;
}

.centeredTitle {
    text-align: center;
}

.homePage {
    margin: -25px;
    height: 100vh;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/039/302/250/small/ai-generated-back-to-school-science-lab-excitement-highlight-the-excitement-of-a-science-experiment-in-a-laboratory-setting-background-image-generative-ai-photo.jpg");
    background-size: cover;
    background-position: center;
}

.white-text{
    color: white;
}

.large-text {
    font-size: 72px;
}

.dropbar {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    height: 25vh;
    width: 35vh;
    list-style-type: none;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    background-color: rgba(255,255,255, 0.9);
    box-shadow: -2px 2px 5px lightgray;
    backdrop-filter: blur(50px);
    border-radius: 5px;
}

.dropbar li {
    color: black;
    height: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.navbar-toggler {
    margin-left: auto;
    margin-right: 10px;
}

#account:hover {
    cursor: pointer;
}

#close-dropbar:hover {
    cursor: pointer;
}