{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel = "stylesheet" href = "{% static 'bioAIPrototype/styles.css' %}">  
        <script src = "{% static 'bioAIPrototype/scripts.js' %}"></script>
    </head>
    <body>
         <nav class="navbar bg-body-tertiary navbar-expand-lg background-bar", data-bs-theme = "dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">BioAI</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create' %}">Create Project</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                    <span class="navbar-text right-margin">
                        <strong>Signed in as {{ user.username }}</strong>
                    </span>
                    {% endif %}
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class = "body">
            {% block body %}
            {% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>